<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>TITRE</title>
      {% block stylesheets %}{% endblock %}
      <link rel="stylesheet" type="text/css" href="{{ asset("bundles/front/stylesheets/layout.css") }}"/>
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <script src="{{ asset("bundles/front/scripts/jquery.js") }}"></script>
    <div id="side_nav_displayer"><button><img src="{{ asset("bundles/front/images/menu.png") }}" title="Menu latéral"/></button></div>
    <nav id="side_nav">
      <ol class="quickMenu">
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/addProductQuickButton.png") }}"/></a>
        </li>
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/changeProductQuickButton.png") }}"/></a>
        </li>
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/displayProductListQuickButton.png") }}"/></a>
        </li>
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/addDeliveryQuickButton.png") }}"/></a>
        </li>
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/displayColorListQuickButton.png") }}"/></a>
        </li>
      </ol>

      <ol class="quickMenu">
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/addClientQuickButton.png") }}"/></a>
        </li>
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/changeClientQuickButton.png") }}"/></a>
        </li>
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/displayClientListQuickButton.png") }}"/></a>
        </li>
      </ol>

      <ol class="quickMenu">
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/addBillQuickButton.png") }}"/></a>
        </li>
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/displayBillListQuickButton.png") }}"/></a>
        </li>
        <li>
          <a href=""><img src="{{ asset("bundles/front/images/printBillQuickButton.png") }}"/></a>
        </li>
      </ol>
    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="{{ asset("bundles/front/scripts/secondaryMenu.js") }}"></script>
  </body>
</html>
