<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
      <link rel="stylesheet" type="text/css" href="{{ asset("bundles/front/stylesheets/layout.css") }}"/>
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <script src="{{ asset("bundles/front/scripts/jquery.js") }}"></script>
    <div id="side_nav_displayer"><button><img src="{{ asset("bundles/front/images/menu.png") }}" title="Menu latéral"/></button></div>
    <nav id="side_nav">
      <ol>
        <li>
          <a href="">Client</a>
        </li>
        <li>
          <a href="">Stock</a>
        </li>
        <li>
          <a href="">Facture</a>
        </li>
      </ol>
    </nav>
    <p id="test"></p>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="{{ asset("bundles/front/scripts/secondaryMenu.js") }}"></script>
  </body>
</html>
