{% extends "FrontBundle::layout.html.twig" %}
{% block title %}<title>Ajouter un client</title>{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/ajoutClient.css') }}"
{% endblock %}
{% block body %}
    <div id="addContainer">
      <h2>Nouveau client</h2>
      {% for message in app.flashes('success') %}
          <div class="flash-notice">
              {{ message }}
          </div>
      {% endfor %}
        {{ form_start(form,{'attr' : { 'class':'findClientForm' } }) }}
        <div class="formPart">
          {{ form_row(form.civilite) }}
          {{ form_row(form.nom) }}
          {{ form_row(form.prenom) }}
            <div class="dateNaissanceContainer">
                {{ form_row(form.jourNaissance) }}
                {{ form_row(form.jourNaissance) }}
                {{ form_row(form.jourNaissance) }}
            </div>
          {{ form_row(form.telephone) }}
        </div>
        <div class="formPart">
          {{ form_row(form.adresse) }}
          {{ form_row(form.ville) }}
          {{ form_row(form.codePostal) }}
          {{ form_row(form.remise) }}
          {{ form_row(form.couleur) }}
        </div>
        {{ form_end(form) }}
        <p>* Champs obligatoires</p>

      <a href={{ path('listeclient') }}>Liste Clients</a>
      <a href={{ path('accueil') }}>Retour Accueil</a>
    </div>
{% endblock %}
