{% block title %}<title>Details du client {{ client.nom }} {{ client.prenom }}</title>{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/tab.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('assets/js/openTab.js') }}">
        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}

{% block body %}
    <h1>Le client {{ client.nom }} {{ client.prenom }}</h1>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'InfoClient')" id="defaultOpen">Information du client</button>
        <button class="tablinks" onclick="openTab(event, 'HistoRDV')">Historique des rendez-vous</button>
        <button class="tablinks" onclick="openTab(event, 'SoinsRecus')">Soins reçus</button>
    </div>

    <div id="InfoClient" class="tabcontent">
        <form>
            <label>Civilite</label>
            <select>
                {% if client.civilite == "M" %}
                    <option selected>{{ client.civilite }}</option>
                    <option>Mme</option>
                    <option>Enfant</option>
                {% elseif client.civilite == "Mme" %}
                    <option selected>{{ client.civilite }}</option>
                    <option>M</option>
                    <option>Enfant</option>
                {% elseif client.civilite =="Enfant" %}
                    <option selected>{{ client.civilite }}</option>
                    <option>Mme</option>
                    <option>M</option>
                {% endif %}
            </select><br>
            <label>Nom</label><input type="text" value={{ client.nom }}> <label>Prenom</label><input type="text" value={{ client.prenom }}><br>
            <label>Date de naissance</label><input type="text" value={{ client.dateNaissance|date("d/m/Y") }}><br>
            <label>Téléphone</label><input type="tel" value={{ client.telephone }}><br>
            <label>Adresse</label><input type="text" value={{ client.adresse }}><br>
            <label>Ville</label><input type="text" value={{ client.ville }}><br>
            <label>Code postal</label><input type="text" value={{ client.CodePostal }}><br>
            <label>Remise</label><input type="text" value="{{ client.remise }}%"><br>
            <label>Couleur / Permanante</label>
            {% if client.couleur == 0 %}
                <input type="checkbox">
            {% else %}
                <input type="checkbox" checked>
            {% endif %}
        </form>
    </div>
    <div id="HistoRDV" class="tabcontent">
        <label>Rechercher un rendez-vous</label><input type="search" placeholder="Date du rendez-vous">
        <h1>Liste des rendez-vous</h1>
        <table>
            <tr>
                <td>Date du rendez-vous</td>
                <td>Heure du rendez-vous</td>
                <td>Prix du rendez-vous</td>
                <td></td>
            </tr>
            {% for rdv in rdvs %}
                <tr>
                    <td>{{ rdv.date|date("d/m/Y") }}</td>
                    <td>{{ rdv.heure|date('h:m') }}</td>
                    <td>{{ rdv.prix }}€</td>
                    <td><a><button>Détails</button></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="SoinsRecus" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>
{% endblock %}
