{% block title %}<title>Details du client {{ client.nom }} {{ client.prenom }}</title>{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/tab.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('assets/js/openTab.js') }}">
        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}

{% block body %}
    <h1>Le client {{ client.nom }} {{ client.prenom }}</h1>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'InfoClient')" id="defaultOpen">Information du client</button>
        <button class="tablinks" onclick="openTab(event, 'HistoRDV')">Historique des rendez-vous</button>
        <button class="tablinks" onclick="openTab(event, 'SoinsRecus')">Soins reçus</button>
    </div>

    <div id="InfoClient" class="tabcontent">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div id="HistoRDV" class="tabcontent">
        {{ form_start(formRDV) }}
        {{ form_widget(formRDV) }}
        {{ form_end(formRDV) }}
        <table>
            <tr>
                <td>Date du rendez-vous</td>
                <td>Heure du rendez-vous</td>
                <td>Prix du rendez-vous</td>
                <td></td>
            </tr>
            {% for rdv in rdvs %}
                <tr>
                    <td>{{ rdv.date|date("d/m/Y") }}</td>
                    <td>{{ rdv.heure|date('h:m') }}</td>
                    <td>{{ rdv.prix }}€</td>
                    <td><a><button>Détails</button></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="SoinsRecus" class="tabcontent">
        <label>Rechercher un type de soins</label>
        <table>
            <tr>
                <td>Date du rendez-vous</td>
                <td>Soins Effectués</td>
                <td></td>
            </tr>
            {% for rdv in rdvsoin %}
                {% for soinrdv in rdv.soins %}
                    <tr>
                        <td>{{ rdv.date|date("d/m/Y") }}</td>
                    {% for soin in soins %}
                        {% if soin.id == soinrdv.id %}
                            {% for typeSoin in typeSoins %}
                                {% if typeSoin.id == soin.type.id %}
                                    <td>{{ typeSoin.libelle }}</td>
                                {% endif %}
                            {% endfor %}

                        {% endif %}

                    {% endfor %}
                        <td><a><button>Détails</button></a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <label>Dernière couleur effectuer le </label><button>Détails mélange</button>

    </div>
{% endblock %}
