{% extends "FrontBundle::layout.html.twig" %}
{% block title %}<title>Accueil gestion clients</title>{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
  <h1>Rechercher un client</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  <h1>La liste des clients</h1>
  <table>
    <tr>
      <td>Civilité</td>
      <td>Nom</td>
      <td>Prénom</td>
      <td>Date de naissance</td>
      <td><td>
    </tr>
  {% for client in clients %}
    <tr>
      <td>{{ client.civilite }}</td>
      <td>{{ client.nom }}</td>
      <td>{{ client.prenom }}</td>
      <td>{{ client.dateNaissance|date("d/m/Y") }}</td>
      <td><a href="detailsclient/{{client.id}}"><button>Détails</button></a><td>
    </tr>
  {% endfor %}
  </table>
  <a><button>Retour</button></a>
  <a href={{ path('ajoutclient') }}><button>Nouveau client</button></a>
{% endblock %}