{% extends "FrontBundle::layout.html.twig" %}
{% block title %}<title>Details du rendez-vous</title>{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Détails du rendez-vous</h1>
    <p>Le client : {{ rdv.client.nom }} {{ rdv.client.prenom }}</p>
    <p>Date du rendez-vous : {{ rdv.date|date("d/m/Y") }}</p>
    <p>Heure du rendez-vous : {{ rdv.heure|date('H\\hi') }}</p>
    <p>Soins perçus</p>
    {% set number = 1 %}
    <ul>
    {% for soin in soins %}
        <li>Le soins {{ number }}<ul>
                <li>{{ soin.nom }}</li>
                <li>{{ soin.details }}</li>
                <li>{{ soin.type.libelle }}</li>
            </ul></li>
        {% set number = number+1 %}
    {% endfor %}
    </ul>
{% endblock %}
