{% block title %}<title>Gestion rendez-vous</title>{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/tab.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('assets/js/openTab.js') }}">
        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}

{% block body %}
    <h1>Gestion des rendez-vous</h1>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'NouveauRDV')" id="defaultOpen">Créer un rendez-vous</button>
        <button class="tablinks" onclick="openTab(event, 'HistoRDV')">Planning rendez-vous</button>
    </div>

    <div id="NouveauRDV" class="tabcontent">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div id="HistoRDV" class="tabcontent">

    </div>
{% endblock %}
