{% extends "FrontBundle::layout.html.twig" %}
{% block title %}<title>Gestion rendez-vous</title>{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/tab.css') }}" />
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{ asset('assets/js/openTab.js') }}">
      document.getElementById("defaultOpen").click();
  </script>
{% endblock %}

{% block body %}
    <h1>Gestion des rendez-vous</h1>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'NouveauRDV')" id="defaultOpen">Créer un rendez-vous</button>
        <button class="tablinks" onclick="openTab(event, 'HistoRDV')">Planning rendez-vous</button>
    </div>

    <div id="NouveauRDV" class="tabcontent">
      <div id="asideContainer"/>
        {{ form_start(form) }}
        {{ form_row(form.client) }}<a href={{ path('ajoutclient') }}>Nouveau client</a>
        {{ form_widget(form) }}
        {{ form_end(form) }}
      </div>
    </div>

    <div id="HistoRDV" class="tabcontent">
      <div id="listeContainer">
        <h2>Les rendez-vous non effectués</h2>
        <table id="listeRdv">
            <tr id="categorieTags">
                <th>Date du rendez-vous</th>
                <th>Heure du rendez-vous</th>
                <th>Client</th>
                <th>Prix</th>
                <th></th>
            </tr>
            {% for rdv in rdvsDuJours %}
                <tr class="rdv">
                    <td>{{ rdv.date|date("d/m/Y") }}</td>
                    <td>{{ rdv.heure|date('h\\hi') }}</td>
                    <td>{{ rdv.client.nom }} {{ rdv.client.prenom }}</td>
                    <td>{{ rdv.prix }}€</td>
                    <td><a href={{ path('rendez_vous_details',{'id':rdv.id}) }}>Détails</a></td>
                </tr>
            {% endfor %}
            {% for rdv in rdvsNonJour %}
                <tr class="rdv">
                    <td>{{ rdv.date|date("d/m/Y") }}</td>
                    <td>{{ rdv.heure|date('h\\hi') }}</td>
                    <td>{{ rdv.client.nom }} {{ rdv.client.prenom }}</td>
                    <td>{{ rdv.prix }}€</td>
                    <td><a href={{ path('rendez_vous_details',{'id':rdv.id}) }}>Détails</a></td>
                </tr>
            {% endfor %}
        </table>
      </div>
  </div>
{% endblock %}
